<div id="generator">


	<!-- DO NOT ADD input-cell HERE -->
	<div id="policy-cell">
		<div id="policytext">It's illegal to make fake card or hard copy by using the the generated image. We do not collect any personal information you entered. The design is copyrighted by the card issued University (For example, WatCards' design is copyrighted by the University of Waterloo.). The purpose of this application is 1, to make sure your selected photo fits the card 2, to share your admission with your friends 3, enjoy the nice design of a Canadian student card 4, research and learn on HTML5/CSS3. WatCard.info is not affiliated to official University department. The code is open-source on GitHub. This application is designed and engineered by Lucas Wang (Software Engineering, hello@lucaswz.com) & Michael Hsiao (Computer Science, shhyfz@hotmail.com), students of University of Waterloo. If you have any concerns regarding this web app, please email hello@WatCard.info or call us at 519-804-8886.</div>
		<button id="generate">I agree with the above policy, please generate my card.</button>
	</div>
	<hr>

	<input id="photo-input" class="input-cell-input hidden" type="file" accept="image/*" />
	<div id="shadow"></div>



	<div id="feedback_background" class="hidden">
		<div id="feedback_dialog">
			<div id="feedback_close"></div>
			<div id="feedback_title">We apologize any inconvenience</div>
			<div id="feedback_info">Please let us know what is missing at <a href="mailto: hello@studentid.info">hello@StudentID.info</a></div>
		</div>
	</div>
</div>