<div id="torCard">

	<div id="torCard_logo">
		<div id="utlogo"></div>
		<div id="uttitle"><span class="stretch">University of Toronto</span></div>
	</div>


	<div id="torCard_mid">
	<div id="utIC"></div>
		<div id="utLN"><%= lastName %></div>
		<div id="utGN"><%= givenName %></div>
		<div id="utSN"><%= studentNo %></div>
	</div>


	<div id="torCard_bottom">
		<div id="utTORid">UTORid: <%= UTORid %></div>
		<div id="utLib">Library #: <%= libraryId %></div>
		<div id="utBarCode"></div>
	</div>
	
	<div id="torCard_Right">
		<div id="torCard-photo"></div>
		<div id="utID">Issue Date: <%= issueDate %></div>
	</div>
	
</div>