OLD
<div id="watCard">
	<div id="watCard-header">
		<div><span>WAT</span>CARD</div>
	</div>
	
	<div id="watCard-edge">
		<div>STUDENT</div>
	</div>
	
	<div id="watCard-container">

		<div id="watCard-old-photo"></div>

		<div id="watCard-main">
			<div class="line"><%= lastName %></div>
			<div class="line"><%= middleName + givenName + " ." %></div>
			<div class="line"><%= "ID "+ studentID + " " + program %></div>
			<div class="line"><%= status %></div>
			<div class="line"><%= "Exp JUNE " + expirationYear %></div>
		</div>
		<div id="watCard-logo" class="line"></div>
		<div id="barCodeImage" class="line"></div>
	</div>
	
	
</div>