#school-selector {
	width:100%;
	height:100%;
	background-color:#e6e6e6;
}

#shadow {
	background:-moz-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.65)),color-stop(100%,rgba(0,0,0,0)));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
/* Opera 11.10+ */
	background:-ms-linear-gradient(top,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
/* IE10+ */
	background:linear-gradient(to bottom,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000',endColorstr='#00000000',GradientType=0);
/* IE6-9 */
	width:100%;
	height:10px;
	opacity:.7;
}

.school-cell {
	width:100%;
	height:130px;
	background-color:#fff;
}

.school-cell:hover {
	background-color:#ecf6ff;
	-webkit-transition:ease .2s;
	cursor:pointer;
}

.school-cell > div:first-child {
	float:left;
	position:absolute;
	background-repeat:no-repeat;
	background-size:contain;
	width: 80px;
	height: 80px;
	margin: 25px 0px 0px 15px;
}

.school-cell > div:nth-child(2) {
	float:right;
	font-family:gMedium;
	overflow:hidden;
	font-size: 30px;
	padding-top: 45px;
}

.school-cell > div:nth-child(2) > span {
	color:#1eba1e;
	font-family:gLight;
	padding-left:10px;
	padding-right:10px;
}

hr {
	margin:0;
	border-color:#999;
	border-width:1px;
	border-top:0;
	width:100%;
}

.input-cell {
	background-color:#fff;
}

#more-text {
	font-size:15px;
	color:#c2c2c2;
	text-align:center;
}